body {
    background-color: #f6f7fb;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.progress-container {
    display: flex;
    font-size: 1rem;
    margin: 1rem;
}

.step-container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.num-container {
    display: flex;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 3px solid #e0e0e0;
    justify-content: center;
    align-items: center;
    color: #808080;
    transition: border-color 0.5s ease;
}

.bar {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 4px;
    margin: 0;
    background-color: #e0e0e0;
}

.bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #3498db;
    z-index: 3;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.8s ease;
}

.btn {
    padding: 0.6rem 2rem;
    margin: 0.5rem;
    font-size: 12px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:active {
    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
    transform: none;
}

.disabled:active {
    transform: none;
}

.active .num-container {
    border-color: #3498db;
    transition: border-color 0.8s ease;
}

.active .bar::before {
    transform: scaleX(1);
    transition: transform 0.5s ease;
}