body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(#eafbff 50%, #5290f9 50%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nav {
    background-color: #fff;
    width: 320px;
    padding: 0.8rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
    justify-content: center;
    transition: width 0.6s linear;
}

.close.nav {
    width: 50px;
}

.nav-list {
    display: flex;
}

.nav-item {
    margin: 0.8rem;
    transition: transform 0.6s linear, opacity 0.6s linear;
}

.close .nav-item{
    transform: translate(300px) rotateY(360deg);
    opacity: 0;
}

.nav-item a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.btn {
    font-size: 1.4rem;
    background:none;
    border: none;
    color:#5290f9 ;
    cursor: pointer;
}


