body {
    font-family: 'Inconsolata', monospace;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#8e44ad;
    color: white;
}

.container {
    display: flex;
    text-align: center;
}

.count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

.fa-brands {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.counter{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.media {
    font-size: 1.2rem;
    font-weight: 400;
}
