/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #333333;  
    font-family: 'Roboto', sans-serif;  
}

.main-container {
    background-color:#333333;
    color:#242931;
    width: 100%;
}

.menuIcons-container {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    position: fixed;
    left: -95px;
    top: -95px;
    background-color: #ff7979;
}

.open, .close {
    font-size: 27px;
    color:#fafafa;
    background: none;
    border: none;
    position: absolute;
}

.open {
    left: 65%;
    top: 1%;
    transform: rotate(-90deg);
    transform-origin: left;
    transition: all 0.8s linear;
}

.close {
    left: 30%;
    top: 80%;
    transform: rotate(90deg);
    transition: all 0.8s linear;
}

.open.active {
    top: 60%;
    transform: none;
} 

.close.active {
    left: 60%;
    top: 60%;
    transition: all 0.8s linear;
}

.article-container {
    /* font-family: 'Roboto', sans-serif; */
    line-height: 1.5;
    color:#242931;
    padding: 3rem;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    background-color: #fafafa;
}

.article {
    max-width: 1000px;
    margin: 3rem auto;
}

.article-header {
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
}

.author {
    font-style: italic;
    font-size: 0.9rem;
}

.article-para {
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem 0;
}

.img-header {
    font-size: 1.3rem;
    margin: 1rem 0;
    font-weight: 700;
}

.img {
    display: block;
    width: 100%;
}